.header{
    width:100%;
    overflow:auto;
}

.header1{
    
}

.header2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .header div {
    width:50%;
    float:left;
  }